.venv/
data/
notebook/*/data
.vscode/
experiment/__pycache__/
experiment/raw_results/
experiment/query_niche_metrics
!experiment/query_niche_metrics/niche_visualizations/
!experiment/query_niche_metrics/niche_visualizations/**
*.pyc
__pycache__/
.ruff_cache/